@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Inter400;
  src: url("/fonts/Inter400.ttf") format("truetype");
}

@font-face {
  font-family: Helvetica;
  src: url("/fonts/Helvetica.ttf") format("truetype");
}

@font-face {
  font-family: Helvetica-Bold;
  src: url("/fonts/Helvetica-Bold.ttf") format("truetype");
}

@font-face {
  font-family: GreatVibes;
  src: url("/fonts/GreatVibes.ttf") format("truetype");
}

@font-face {
  font-family: Inter700;
  src: url("/fonts/Inter700.ttf") format("truetype");
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
